* {
  text-decoration: none;
}
nav {
  width: 100vw;
  height: 5rem;
  background-color: bisque;
  gap: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  gap: 1rem;
  color: black;
  font-size: 1.5rem;
}
.text-yellow {
  border-bottom: 3px solid blue;
}
.font-bold {
  font-weight: bold;
}
.text-gray {
  opacity: 90%;
}
 